.landing{
    position: relative;
    width: 100%;
    height: auto;
    background:#D6D0CC;
    color:#fff;
    overflow: hidden;

    .header{
        position: absolute;
        top: 1rem;
        left:50%;
        transform: translate(-50%);
        font-family: 'Earth Orbiter', sans-serif;;

        &__wrap{
            padding: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 60vw;
        }
        &__left{
            display: flex;
            align-items: center;
            gap:2rem;
            &li{
                font-size: 18px;
                font-weight: 700;
            }
        }
    }

    .info{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 30%;
        padding-left: 32px;
        h1{
            font-size: 44px;
            font-family: 'Earth Orbiter', sans-serif;
            font-weight: 700;
        }
    }

    .scrollDown{
        position: absolute;
        bottom: 12%;
        left:50%;
        transform: translate(-50%);
        &__wheel{
            height: 42px;
            width: 24px;
            border-radius: 10px;
            border:2px solid #fff;
            &--inner{
                position: absolute;
                left:10px;
                margin-top:5px ;
                width: 4px;
                height: 4px;
                background: #fff;
                border-radius: 50%;
                animation: movingWheel 0.5s linear infinite;
                @keyframes movingWheel {
                    0%{
                        top: 1%;
                    }
                    25%{
                        top: 2px;
                    }
                    50%{
                        top:3px;
                    }
                    75%{
                        top:2px;
                    }
                    100%{
                        top:1px;
                    }
                }
            }
        }
        .scrollDown__arrows{
            display: flex;
            flex-direction: column;
            align-items: center;
            .arrow{
                width: 15px;
                height: 15px;
                background-repeat: no-repeat;
                border-right: 2px solid #fff;
                border-bottom: 2px solid #fff;
                transform: rotate(45deg);
                animation: scrollArrows 2s infinite;
                animation-direction: alternate;
                &:nth-child(2){
                    animation-delay: 0.2s;
                }
                @keyframes scrollArrows {
                    0%{
                        opacity: 0;
                    }
                    50%{
                        opacity: 0.5;
                    }
                    100%{
                        opacity: 1;
                    }
                }
            }
        }
    }
}